{% extends "about.jinja" %}

{% block AboutWho %}

## プロフィール

現在は大学院生をやっています．

研究以外ではソフト開発や読書が楽しみになっています．

研究については，所属とは無関係なサイトなのでここでは述べません．

### 心掛け

気をつけていることをまとめておきました．
自戒でしょうね．

{% endblock %}

{% block AboutName %}

これくらいでしょうか．


今はそんな風に考えて実践していますが，変に拘るのも良くないので今後もどんどん変化すると思います．
変に実践するぞと意気込んでおこなうようなものでもありませんからね．

### ハンドルネームの由来

たまに聞かれるので答えておくと，祖母の飼っていた猫から取りました．
名前はクロと言って，小さいころは動物が苦手でしたがクロだけは怖くなく，夏休みに祖母の家にいくとクロと一緒に遊んだり寝たりしたものです．

今でもたまに思い返すことがあり，気に入った猫なのでそのままハンドルネームにしてます．

{% endblock %}

{% block AboutMentalIntention1 %}
どんな相手であっても，どこかで尊敬できるところを見つけるようにしています．

基本的に僕とは異なる価値観を持っている人からは多くを学ぶことができます．まずは相手を尊敬するところから入らなくては相手の話を聞いて理解するのは難しいです．

嫌いになることは簡単で，嫌いになれば相手に会うこともないですし尊敬する必要もなく話を聞かなくても良くなります．
{% endblock %}

{% block AboutMentalIntention2 %}
多くを期待しないというのは，信用しないということです．信用しないというと人を認めていないということになり，少々矛盾しそうです．しかし信用というのは相手に対して負担をかけている甘えていると認識すべきという考えから来ています．

怒るメカニズムを僕なりに考えると負担をかけている相手が失敗すれば自分まで痛手を負うので怒るのだと思います．相手に対して怒る人というのは大抵責任の所在などは他人に任せっきりにしているケースが多いです．精々失敗したら相手を責めるのではなくて構造的に起りえたことを嘆くべきです．

自分に怒るときも自分の力を過信している場合が多いです．かといってある程度信じなければ成すべきことも成しえないので自分には怒っても良いと思います(ある程度ね)．
{% endblock %}

{% block AboutMentalIntention3 %}
無理に話をしないというのは会話がストップしても落ち着いて黙っておくということです．よく会話がうまく進まないと慌てて話を広げようとしますが，相手も自分も疲れるだけです．案外，話が無くて御互い黙ったままであっても雰囲気というのは悪くなりません．
大抵雰囲気を悪くするのは会話が無いというプレッシャであり，そのプレッシャを捨ててしまえば居心地が良いものです．

たまにタクシーに乗るとよくドライバの人とちょっとした世間話をすることがあります．僅かな距離ですが一緒に居て楽しいことはよくあります．話す時間を考えれば乗ってから大半が黙ったままで話す時間なんて僅かなはずですが，清々しい気持ちにはよくなります．
{% endblock %}

{% block AboutMentalIntention4 %}
わからないことはわからないと言うことです．わからないということは相手への負担を考えてしまい後で調べがちですが，時間がもったいないですしストレートに聞いてみることは相手にとっても有益な質問であることが多いです．
{% endblock %}

{% block AboutMentalIntention5 %}
2つ目と似てますが，同じゴールを向いているように見えてもそれぞれの価値観が違うので結果的に異なる方向へ歩み出すというということです．よくあの人の考えていることはわからないという話を聞いたりすることが多いです．そのような話のときには大抵否定的なニュアンスで話しをすることが多いようの思います．

でも生まれて死ぬときは孤独になるようにもともと生物というのは一人になりたがるのかもしれません．人と関わって生きるということは人が生きるために身につけた方法論であってそれが目的ではないということです．集団生活をする動物って少ないですよね．なので本来は一人で居るということは悪いことではなくそれができるなら一人で生きたほうが楽しいことが多いということです．

人と適度な距離を保つというのは自分が孤立できるようにするための方法であり同時に相手への気遣いであったりします．また過度な干渉をすると逆に嫌われることが多いように思います．
{% endblock %}

{% block AboutMentalIntention6 %}
趣味ですが，これは書くまでもないですね．趣味によりますが，僕の趣味は出費も少ないですし，楽しみが趣味に見い出せたから大学院生になって将来が若干不安定であっても楽しみを見失うことなく生きられているのだと思います．

もし今の趣味がなければ研究に対しての情熱もまた変わったものだったかもしれません．
{% endblock %}

{% block AboutMentalIntention7 %}
幸せって逆に言えば不幸なんですよね．幸せを決めるのは最近の状況に比べてどれくらいかであって，例えば飢えている人がパン一つ分け与えられたらその人にとっては幸せに思えるかもしれません．でもパンを与えられたらそれ以上の追い求めるのは仕方ないことで，それを言葉にしたのが幸せとか幸福という言葉だと考えています．つまり，いつより誰よりも良かったかということです．

僕よりも凄い人は沢山居るわけでそういう人に比べたら立場などを考えれば幸せとは言えないと思います．人に比べたら酷い研究環境であり生活面でも良いかわかりませんが，それでも毎日なにか少しは笑ったり楽しいと感じることがあるのでそれだけでも良いことです．でも人と比べたところで何か変化するとは思えないので，そのようなことを考えるようにしてます．
{% endblock %}
{% block AboutMentalIntention8 %}

特定の人を友達だと呼ぶことはありません．そういった考え方はもう捨てています．子どものころ友達の数=ステータスという話が多かったです．友達100人の歌なんかもあるくらいです．友達とは何かと辞書で引くと互いに心を許しあい対等の立場であることとあります．

でも人はそれぞれ異なる価値観があり，生きている以上毎日どこか変化しているのが自然だと思います．そのような状況なのに無条件で心を許しあうなんて変な話ですし，心を許すのは勝手ですが相手に強制するのは良くないことだと思います．対等の立場というのも実力もあって人格面でも良く出来ている相手を自分と対等にする意味というのがわかりません．悪い方へ引き込んで楽しいのでしょうか．「友達だと思ってたのに．．．」と勝手に悲しんで非難する場面を見たことがありますが身勝手な人だなと思います．

何よりも嘆いているのが友達が居ないということが良くないという風潮です．なので友達かどうかを確認するということ自体相手を疑っているんだなと思ってしまいますね．居なくたって生きる上でまったく問題が無いですし，友達という関係維持のために自分を犠牲にするのはつまらないことに思えます．
{% endblock %}
