{% extends "base.jinja" %}

{% block AboutWho %}
## About

現在は大学院生をやっています．

研究以外ではソフト開発や読書が楽しみになっています．

どんな人かと言われれば困りますが，一応自分なりに少し心掛けて生活している側面がありまして，その部分が多少，人格なりを現わしそうなので載せてみました．

### 心掛け
{% endblock %}

{% block AboutMentalIntention1 %}
どんな相手であっても，どこかで尊敬できるところを見つけるようにしています．

基本的に僕とは異なる価値観を持っている人からは多くを学ぶことができます．まずは相手を尊敬するところから入らなくては相手の話を聞いて理解するのは難しいです．

嫌いになることは簡単で，嫌いになれば相手に会うこともないですし尊敬する必要もなく話を聞かなくても良くなります．
{% endblock %}

{% block AboutMentalIntention2 %}
多くを期待しないというのは，信用しないということです．信用しないというと人を認めていないということになり，少々矛盾しそうです．しかし信用というのは相手に対して負担をかけている甘えていると認識すべきという考えから来ています．

怒るメカニズムを僕なりに考えると負担をかけている相手が失敗すれば自分まで痛手を負うので怒るのだと思います．相手に対して怒る人というのは大抵責任の所在などは他人に任せっきりにしているケースが多いです．精々失敗したら相手を責めるのではなくて構造的に起りえたことを嘆くべきです．

自分に怒るときも自分の力を過信している場合が多いです．かといってある程度信じなければ成すべきことも成しえないので自分には怒っても良いと思います(ある程度ね)．
{% endblock %}
{% block AboutMentalIntention3 %}
無理に話をしないというのは会話がストップしても落ち着いて黙っておくということです．よく会話がうまく進まないと慌てて話を広げようとしますが，相手も自分も疲れるだけです．案外，話が無くて御互い黙ったままであっても雰囲気というのは悪くなりません．
大抵雰囲気を悪くするのは会話が無いというプレッシャであり，そのプレッシャを捨ててしまえば居心地が良いものです．

たまにタクシーに乗るとよくドライバの人とちょっとした世間話をすることがあります．僅かな距離ですが一緒に居て楽しいことはよくあります．話す時間を考えれば乗ってから大半が黙ったままで話す時間なんて僅かなはずですが，清々しい気持ちにはよくなります．
{% endblock %}
{% block AboutMentalIntention4 %}
わからないことはわからないと言うことです．わからないということは相手への負担を考えてしまい後で調べがちですが，時間がもったいないですしストレートに聞いてみることは相手にとっても有益な質問であることが多いです．
{% endblock %}
{% block AboutMentalIntention5 %}
2つ目と似てますが，同じゴールを向いているように見えてもそれぞれの価値観が違うので結果的に異なる方向へ歩み出すというということです．よくあの人の考えていることはわからないという話を聞いたりすることが多いです．そのような話のときには大抵否定的なニュアンスで話しをすることが多いようの思います．

でも生まれて死ぬときは孤独になるようにもともと生物というのは一人になりたがるのかもしれません．人と関わって生きるということは人が生きるために身につけた方法論であってそれが目的ではないということです．集団生活をする動物って少ないですよね．なので本来は一人で居るということは悪いことではなくそれができるなら一人で生きたほうが楽しいことが多いということです．

人と適度な距離を保つというのは自分が孤立できるようにするための方法であり同時に相手への気遣いであったりします．また過度な干渉をすると逆に嫌われることが多いように思います．
{% endblock %}
{% block AboutMentalIntention6 %}
趣味ですが，これは書くまでもないですね．趣味によりますが，僕の趣味は出費も少ないですし，楽しみが趣味に見い出せたから大学院生になって将来が若干不安定であっても楽しみを見失うことなく生きられているのだと思います．

もし今の趣味がなければ研究に対しての情熱もまた変わったものだったかもしれません．
{% endblock %}
{% block AboutMentalIntention7 %}
死ぬのは生物にとってのゴールであるという当たり前のことを書いてます．どう転ぼうとも最後に死ぬのは変わりない事実というのは生物が持っている救いだと思っています．生まれてきて良かったと思えることは無いのですが，でも自分の中ではいずれ勝手に死ぬので生きています．実際に生きてみると面白いことも多いですし，死ぬのは苦しそうです．いずれ死ぬという安心感から楽しく生きられているんだなと考えておりどうせなら最後の楽しみと思ってます．そっちのほうが楽しみがあって良くないでしょうかね(浅はかすぎる．．．)．
{% endblock %}
{% block AboutMentalIntention8 %}
幸せに生きるための本が沢山出ておりますが，ちょっとした気遣いをしなければ難しいことが多いです．幸せって逆に言えば不幸なんですよね．幸せを決めるのは最近の状況に比べてどれくらいかであって，例えば飢えている人がパン一つ分け与えられたらその人にとっては幸せに思えるかもしれません．でもパンを与えられたらそれ以上の追い求めるのは仕方ないことで，それを言葉にしたのが幸せとか幸福という言葉だと考えています．つまりいつより，誰よりも良かったかということです．

大抵，僕よりも凄い人は沢山居るわけでそういう人に比べたら立場などを考えれば幸せとは言えないと思います．でも人と比べたところで何か変化するとは思えないので，そのような考えは無くしてます．人に比べたら酷い研究環境であり生活面でも良いかわかりませんが，それでも毎日なにか少しは笑ったり楽しいと感じることがあるのでそれだけでも良いことです．幸せじゃないって言う人はそういう楽しみを無理矢理，どこかで比べてしまうので人よりも不幸だと嘆くだけで何とも無駄なことに思えます．
{% endblock %}
{% block AboutMentalIntention9 %}
僕は特定の人を友達だと呼ぶことはありません．そういった考え方はもう捨てています．子どものころ友達の数=ステータスという話が多かったです．友達100人の歌なんかもあるくらいです．友達とは何かと辞書で引くと互いに心を許しあい対等の立場であることとあります．

でも先程のと被りますが人はそれぞれ異なる価値観があり，僕もそうですが一人で居るのが何よりも楽しいです．それに悪く取れば心を許すのは勝手ですが相手に強制するのは良くないことですし，対等の立場というのも凄い相手を自分と対等にする意味というのがわかりません．悪い方へ引き込んで楽しいのでしょうか．何よりも嘆いているのが友達が居ないということが良くないという風潮です．居なくたって生きる上でまったく問題が無いですし，友達という関係維持のために自分を犠牲にするのはつまらないことに思えます．
{% endblock %}


{% block HandleName %}

これくらいでしょうか．もっと減らしたいところです．


そんな風に考えている人であるとは言えそうですが，今後もどんどん変化すると思いますし，ここに書いていることとは矛盾した価値観を持ちはじめるかもしれません．それは自分にはわからないことですね．

### ハンドルネームの由来

たまに聞かれるので答えておくと，祖母の飼っていた猫から取りました．
名前はクロと言って，小さいころは動物が苦手でしたがクロだけは怖くなく，夏休みに祖母の家にいくとクロと一緒に本を読んだり寝たりしたものです．

今でもたまに思い返すことがあり，気に入った猫なのでそのままハンドルネームにしてます．

{% endblock %}

{% block Software %}

## ソフトウェア

これまでいくつかの言語を使って様々なソフトウェアを作ってきました．
公開できる分はgithubに上げています．

### 好きな言語

あまり好きな言語と言ってそれに特化しすぎるのも良くないのですが，Pythonというスクリプト言語をここ数年使ってます．
Pythonは科学技術計算やデスクトップアプリケーション，ウェブアプリケーションまで幅広く使える言語であり，日本では人気が今一つですが海外ではとても人気のある言語です．
日本でも少ないですが交流会が行なわれており，2013年にはPyConAPACというアジア全体を巻き込んだ巨大なイベントが日本で開かれました．僕もそれに参加して様々なPythonistaと交流して面白かったです．

### ソフトウェア開発の何が好きか

僕はほぼ毎日なにかしらのコードを数行でも良いので書いています．
何が書き立てるのか，はっきりとはわかりませんが，概ね次のことが言えそうです．

{% endblock %}

{% block Books %}

## 本

### 趣味としての読書

ジュールヴェルヌの小説を読んでからというもののSF小説が好きです．

やはり最初に良い物を取るとそれが趣味になりやすいので，僕は読書については運が良かったと思います．この年になってもジュールヴェルヌを読むことがあり，その内容の深さは侮れないものがあります．よくジュールヴェルヌは子供向けという評価があり，大人が読むには少々場違い感があるようです．しかしジュールヴェルヌは子ども向けと書いておきながら言わゆる大人向けの本よりも純粋にSFを題材に工学へ向きあっているように思えます．

ジュールヴェルヌの話題になったので少し語らせてもらうと，例えば月世界へ行くという本があります．大砲クラブというサークルが月に向けて人を積んだ大砲を打ち込んで月を観測して地球に帰ってくる話なのですが，この本は今から150年以上も前に書かれており，当時日本では坂本竜馬が生きていた時代に書かれております．
たしかに，宇宙に出てから天板をあけて外の空気を吸うなどおかしなところも見受けられますが，大砲を月へ打ち上げるのに必要な火薬の量(第二次宇宙速度を満たす)の考察や慣性運動の様子，地球への再突入，ラグランジェポイントの描写は実際に宇宙へ行ったとも思えるような
内容であり驚かされます．他には悪魔の発明などミサイル技術を示唆した内容，科学技術が世に与える影響やその怖さについて書かれたものもあります．個人的にSFというのはそのような想像するしかない出来事を理論的な根拠で語られているのが醍醐味であると考えており，今でもSFといえば僕のなかではジュールヴェルヌというのは揺らぎようがありません．ただし，近年もグレッグイーガンなど凄いSF作家が居るのは事実であり，人間ドラマに逃げないで想像力で勝負する本というのはあります．

SFに限らず他にも近代文学も好きです．時代が異なるのに今でも色褪せない人間的な部分が描かれていて面白いですね．それでいて非凡な文才が良いですね．
また，東京に行くと神保町を散策して古本を集めて読んだりしています．そんなこんなで本が痛まないように部屋は年中カーテンで締め切っています．

たまにそんな話をするとどの本がおすすめですか?と言われることがあります．良い本というのは人それぞれであって評価などあてにならないのですが，これまで読んだ良かった本を以下に並べておきます．

また，古い本が多いことからここ最近読んで外れでは無い本．読んで良かったかなと思えるものを読書リーダに載せておきました．
良い本といえば古い本が多いですし，ウェブサイトを覗けば大体同じ書籍が紹介されるのであえて読書リーダにはここ最近読んで良かった本に限定して並べております．


### 出版

アルバイトの関係でJavaの本を出したことがあります．

主に教科書として採用されているようです．

* [例題で学ぶJavaアプレット入門](http://www.coronasha.co.jp/np/isbn/9784339024739/ "例題で学ぶJavaアプレット入門")
    * アルバイト先の授業で使っていたものに修正活筆を加えたものです．一部の問題にうちで飼っている犬のちょうすけが載っているのがポイントなんて．．．

{% endblock %}

{% block Study %}

研究
======================

大学院に入ってから超小型衛星を運用する地上局をテーマに研究を進めてきました．
もともとソフトウェア開発が好きだったのですが，ハードウェアもやりたいという理由から宇宙開発を大学で始めるようになりました．

ただしもともとソフトウェア寄りだったので地上局を担当することが多く，今だに担当しております(良い加減次に引き継いだほうが．．．)．

宇宙開発については空き缶の中に電子機器を載せてロケットから放出したり，金星行きの超小型衛星のコンペに参加して実際に打ち上げたり，衛星に限らずロケットの地上局を開発したりと随分と好きにやらせてもらったことで多少は電子工作のスキルも伸びたかなと考えております．

研究もその延長上で行なわれており，テーマは超小型衛星の放出する電波のRSSI値を利用した衛星の運動推定を行なっております．現在は複数の地上局を活かした内容で進めており実験協力者を絶賛募集しております．

{% endblock %}

