{% extends "software.jinja" %}

{% block AboutSoftware %}

###ソフトウェアの紹介

これまでいくつかの言語を使って様々なソフトウェアを作ってきました．
公開できる分はgithubに上げています．

{% endblock %}

{% block MyFavoriteLanguage %}
### 好きな言語

あまり好きな言語と言ってそれに特化しすぎるのも良くないのですが，Pythonというスクリプト言語をここ数年使ってます．

Pythonは科学技術計算やデスクトップアプリケーション，ウェブアプリケーションまで幅広く使える言語であり，日本ではRubyに比べて人気が今一つ?ですが海外ではとても人気のある言語です．
なおこのウェブサイトもPython製のHydeというツールを使って作成しました．

日本でも交流会が行なわれており，2013年にはPyConAPACというアジア全体を巻き込んだ巨大なイベントが日本で開かれました．僕もそれに参加して様々なPythonistaと交流して面白かったです．

好きな言語というよりも使ったことのある言語リストを以下に並べておきます

* Python

* Ruby

* Csharp

* Java

* C

* JavaScript

{% endblock %}

{% block WhatILikeSoftwareDevelop%}
### プログラミングの好きなところ

僕は毎日なにかしらのコードを数行でも良いので書いています．

個人的には自分の考えたものを形にする楽しさがあります．
考えたものを形にするならいくらでもあるのですが，ソフトウェアは金がかからないので気軽にチャレンジして勝手に失敗できるのも良いところですね．

ちなみに，趣味で作るときには極力車輪の再発明かどうかは脇に置いて考えています．僕はソフトに限らずハードウェアも開発してますが，不思議なもので世の中にある言わゆる車輪の再発明であっても，使用目的の制定から実装までやってみると
自然と独創的なところが生まれるのは面白いことだと思います．

また，たまに人に使ってもらえる機会があり，これ良いねと言ってもらえると嬉しいものがあります．それも楽しみの一つだと思っています．
前に受託開発という形で納品という形を経験したこともありまして，数年経っていますが今だに使われているようで嬉しいですね．

{% endblock %}
