{% extends "study.jinja" %}

{% block Study %}

趣味
======================

大学時代からプログラミングも好きですが，電子工作も好きです．学生時代は空き缶の中に電子機器を載せてロケットから放出したり，金星行きの超小型衛星のコンペに参加して実際に打ち上げたり，衛星に限らずロケットの地上局を開発したりと一品物を開発することが多かったです．社会人になってから変わったことといえば，趣味で自由につかえるお金が増えたことが大きいですね．学生時代は開発のコストに対する対価を多くとりたいがために新規性の面を強く意識していましたが，そのあたりもだいぶ緩和されたように感じます．

他には社会人になってから始められていないのですが，アマチュア無線も好きです．アマチュア無線というとここ数年は衛星通信くらいにしかつかっておらず，デジタル通信(パケット通信(FSK,CW,QSK)・RTTY,ATV,SSTVあたり)，願わくはDXなんかも始めたいと思っています．多少の進展としては，居候先で免許状とコールサインの取得はしました(居候先で登録)．

{% endblock %}
