<div class="col-xs-2 col-md-4 sidebar">
    <h1>自己紹介</h1>
    <ul class="nav nav-pills nav-stacked sidenav">
        <li><a href="#AboutWho" class="scroll">プロフィール</a></li>
        <li><a href="#mentalattitude" class="scroll">心掛け</a></li>
        <li><a href="#Aboutname" class="scroll">ニックネームの由来</a></li>
    </ul>
</div>
<div class="col-xs-10 col-xs-offset-2 col-md-8 col-md-offset-4">
    <div id="AboutWho">
        <article>
            {% filter markdown -%}
            {% block AboutWho %}{% endblock %}
            {%- endfilter %}
        </article>
    </div>

    <div id="Aboutname">
        <article>
            {% filter markdown -%}
            {% block AboutName %}{% endblock %}
            {%- endfilter %}
        </article>
    </div>
</div>
<script type="text/javascript" src="{{media_url('js/scroll.js')}}"></script>
