<div class="col-xs-2 col-md-4 sidebar">
    <h1>自己紹介</h1>
    <ul class="nav nav-pills nav-stacked sidenav">
        <li><a href="#AboutWho" class="scroll">プロフィール</a></li>
        <li><a href="#mentalattitude" class="scroll">心掛け</a></li>
        <li><a href="#Aboutname" class="scroll">ニックネームの由来</a></li>
    </ul>
</div>
<div class="col-xs-10 col-xs-offset-2 col-md-8 col-md-offset-4">
    <div id="AboutWho">
        <article>
            {% filter markdown -%}
            {% block AboutWho %}{% endblock %}
            {%- endfilter %}
        </article>
    </div>

    <div id="mentalattitude">
        <div class="panel-group panel-group-lists" id="accordion1">
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                      1. 人を尊敬する
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <article>
                      {% filter markdown -%}
                      {% block AboutMentalIntention1 %}{% endblock %}
                      {%- endfilter %}
                    </article>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                      2. 人に期待しない
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <article>
                      {% filter markdown -%}
                      {% block AboutMentalIntention2 %}{% endblock %}
                      {%- endfilter %}
                    </article>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                      3. 無理に話をしない
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <article>
                      {% filter markdown -%}
                      {% block AboutMentalIntention3 %}{% endblock %}
                      {%- endfilter %}
                    </article>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
                      4. わからないと言う勇気
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <article>
                      {% filter markdown -%}
                      {% block AboutMentalIntention4 %}{% endblock %}
                      {%- endfilter %}
                    </article>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
                      5. 適度な距離を保つ
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <article>
                      {% filter markdown -%}
                      {% block AboutMentalIntention5 %}{% endblock %}
                      {%- endfilter %}
                    </article>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
                      6. 趣味を持つ
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    <article>
                      {% filter markdown -%}
                      {% block AboutMentalIntention6 %}{% endblock %}
                      {%- endfilter %}
                    </article>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion1" href="#collapseEight">
                      7. 幸せなどない
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    <article>
                      {% filter markdown -%}
                      {% block AboutMentalIntention7 %}{% endblock %}
                      {%- endfilter %}
                    </article>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion1" href="#collapseNine">
                      8. 友人を作らない
                  </a>
                </h4>
              </div>
              <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    <article>
                      {% filter markdown -%}
                      {% block AboutMentalIntention8 %}{% endblock %}
                      {%- endfilter %}
                    </article>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="Aboutname">
        <article>
            {% filter markdown -%}
            {% block AboutName %}{% endblock %}
            {%- endfilter %}
        </article>
    </div>
</div>
<script type="text/javascript" src="{{media_url('js/scroll.js')}}"></script>
