<!DOCTYPE html>
<html lang="ja">
<head>
    <title> {{ site.meta.title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{media_url('css/site.min.css')}}">
    <style type="text/css">
        body {padding-top: 70px; padding-left:50px; padding-right:20px; padding-bottom:100px;}
    </style>
    <script type="text/javascript" src="{{media_url('js/site.min.js')}}"></script>
    <script type="text/javascript">
      $(function(){
          $("#myTab1 li a").click(function(){
            var value = $(this).attr("href");
            if(value=="#software"){
              $("body").css("background-image",'url("{{media_url('img/softwarebackground.png')}}")');
              }
            else if(value=="#books"){
              $("body").css("background-image",'url("{{media_url('img/booksbackground.jpg')}}")');
              }
            });
      });
    </script>
</head>
<body>
    <div class="container">
        <nav class="nav navbar navbar-inverse navbar-right navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">KuronekoPage</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                    <ul id="myTab1" class="nav navbar-nav">
                        <li class="active"><a href="#about" data-toggle="tab">About</a></li>
                        <li><a href="#software" data-toggle="tab">ソフトウェア</a></li>
                        <li><a href="#books" data-toggle="tab">読書</a></li>
                        <!-- <li class="disabled"><a href="#">Link</a></li> -->
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">SNS<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="https://github.com/HAYASAKA-Ryosuke">GitHub</a></li>
                            <li><a href="https://twitter.com/kuroneko1988">Twitter</a></li>
                            <li><a href="http://kuroneko0208.hatenablog.com">Blog</a></li>
                            <li><a href="https://www.facebook.com/hayasaka.ryosuke">FaceBook</a></li>
                        </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="row">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="about">
                <div class="col-xs-6 col-md-4">
                    <p>About</p>
                </div>
                <div class="col-xs-12 col-md-8">
                    <article>
                        {% filter markdown -%}
                        {% block AboutWho %}{% endblock %}
                        {%- endfilter %}
                    </article>

                    <div class="panel-group panel-group-lists" id="accordion1">
                        <div class="panel">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                                  1. 人を尊敬する
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <article>
                                  {% filter markdown -%}
                                  {% block AboutMentalIntention1 %}{% endblock %}
                                  {%- endfilter %}
                                </article>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                                  2. 人に期待しない
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <article>
                                  {% filter markdown -%}
                                  {% block AboutMentalIntention2 %}{% endblock %}
                                  {%- endfilter %}
                                </article>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                                  3. 無理に話をしない
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <article>
                                  {% filter markdown -%}
                                  {% block AboutMentalIntention3 %}{% endblock %}
                                  {%- endfilter %}
                                </article>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
                                  4. わからないと言う勇気
                              </a>
                            </h4>
                          </div>
                          <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <article>
                                  {% filter markdown -%}
                                  {% block AboutMentalIntention4 %}{% endblock %}
                                  {%- endfilter %}
                                </article>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
                                  5. 適度な距離を保つ
                              </a>
                            </h4>
                          </div>
                          <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <article>
                                  {% filter markdown -%}
                                  {% block AboutMentalIntention5 %}{% endblock %}
                                  {%- endfilter %}
                                </article>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
                                  6. 趣味を持つ
                              </a>
                            </h4>
                          </div>
                          <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                <article>
                                  {% filter markdown -%}
                                  {% block AboutMentalIntention6 %}{% endblock %}
                                  {%- endfilter %}
                                </article>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven">
                                  7. 死ぬのはゴール
                              </a>
                            </h4>
                          </div>
                          <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                <article>
                                  {% filter markdown -%}
                                  {% block AboutMentalIntention7 %}{% endblock %}
                                  {%- endfilter %}
                                </article>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseEight">
                                  8. 幸せなどない
                              </a>
                            </h4>
                          </div>
                          <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                <article>
                                  {% filter markdown -%}
                                  {% block AboutMentalIntention8 %}{% endblock %}
                                  {%- endfilter %}
                                </article>
                            </div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseNine">
                                  9. 友人を作らない
                              </a>
                            </h4>
                          </div>
                          <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                <article>
                                  {% filter markdown -%}
                                  {% block AboutMentalIntention9 %}{% endblock %}
                                  {%- endfilter %}
                                </article>
                            </div>
                          </div>
                        </div>
                    </div>

                    <article>
                        {% filter markdown -%}
                        {% block AboutName %}{% endblock %}
                        {%- endfilter %}
                    </article>
                </div>
            </div>
            <div class="tab-pane fade" id="software" >
                <div class="col-xs-6 col-md-4">
                    <p>ソフトウェア</p>
                </div>
                <div class="col-xs-12 col-md-8">
                    <article>
                        {% filter markdown -%}
                        {% block Software %}{% endblock %}
                        {%- endfilter %}
                    </article>
                </div>
            </div>
            <div class="tab-pane fade" id="books">
                <div class="col-xs-6 col-md-4">
                    <p>本</p>
                </div>
                <div class="col-xs-12 col-md-8">
                    <article>
                        {% filter markdown -%}
                        {% block Books %}{% endblock %}
                        {%- endfilter %}
                    </article>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
