<!DOCTYPE html>
<html lang="ja">
<head>
<title> {{ site.meta.title }}</title> 
<meta charset="utf-8">
<link rel="shortcut icon" href="{{media_url('favicon.ico')}}">
<link rel="stylesheet" href="{{media_url('css/site.min.css')}}">
<link rel="stylesheet" href="{{media_url('css/mystyle.css')}}">
<script type="text/javascript" src="{{media_url('js/site.min.js')}}"></script>
<script type="text/javascript" src="{{media_url('js/base.js')}}"></script>
</head>
<body>
<div class="container">
    <nav class="nav navbar navbar-inverse navbar-right navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#top">KuronekoPage</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <ul id="myTab1" class="nav navbar-nav">
                    <li class="active"><a href="#top" data-toggle="tab">Top</a></li>
                    <li><a href="#software" data-toggle="tab">ソフトウェア</a></li>
                    <li><a href="#books" data-toggle="tab">読書</a></li>
                    <li><a href="https://github.com/HAYASAKA-Ryosuke">GitHub</a></li>
                    <li><a href="https://twitter.com/kuroneko1988">Twitter</a></li>
                    <li><a href="http://kuroneko0208.hatenablog.com">Blog</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="row">
    <div id="pages"></div>
</div>

</body>
</html>
