<div class="col-xs-2 col-md-4 sidebar">
    <h1>本</h1>
    <ul class="nav nav-pills nav-stacked sidenav">
        <li><a href="#hobbybook" class="scroll">趣味としての読書</a></li>
        <li><a href="#readbooks" class="scroll">良かった本</a></li>
        <li><a href="#publish" class="scroll">出版</a></li>
    </ul>
</div>
<div class="col-xs-10 col-xs-offset-2 col-md-8 col-md-offset-4">
    <div id="hobbybook">
        <article>
            {% filter markdown -%}
            {% block hobbybook %}{% endblock %}
            {%- endfilter %}
        </article>
    </div>
    <div id="readbooks">
        <article>
            {% filter markdown -%}
            {% block readbooks %}{% endblock %}
            {%- endfilter %}
        </article>
    </div>
    <div id="publish">
        <article>
            {% filter markdown -%}
            {% block publish %}{% endblock %}
            {%- endfilter %}
        </article>
    </div>
</div>
<script type="text/javascript" src="{{media_url('js/scroll.js')}}"></script>
