<div class="col-xs-2 col-md-4 sidebar">
    <h1>ソフトウェア</h1>
    <ul class="nav nav-pills nav-stacked sidenav">
        <li><a href="#Aboutsoftware" class="scroll">ソフトウェア</a></li>
        <li><a href="#MyFavoriteLanguage" class="scroll">好きな言語</a></li>
        <li><a href="#WhatILikeSoftwareDevelop" class="scroll">プログラミングの好きなところ</a></li>
    </ul>
</div>
<div class="col-xs-10 col-xs-offset-2 col-md-8 col-md-offset-4">
    <div id="Aboutsoftware">
        <article>
            {% filter markdown -%}
            {% block AboutSoftware %}{% endblock %}
            {%- endfilter %}
        </article>
    </div>
    <div id="MyFavoriteLanguage">
        <article>
            {% filter markdown -%}
            {% block MyFavoriteLanguage %}{% endblock %}
            {%- endfilter %}
        </article>
    </div>
    <div id="WhatILikeSoftwareDevelop">
        <article>
            {% filter markdown -%}
            {% block WhatILikeSoftwareDevelop %}{% endblock %}
            {%- endfilter %}
        </article>
    </div>
</div>
<script type="text/javascript" src="{{media_url('js/scroll.js')}}"></script>
