<div class="col-xs-6 col-md-4">
    <p>研究</p>
</div>
<div class="col-xs-12 col-md-8">
    <article>
        {% filter markdown -%}
        {% block Study %}{% endblock %}
        {%- endfilter %}
    </article>
</div>
