body {padding:70px 20px 100px 50px; background-color:#e5e5e5;}
.sidebar{
    position: fixed;
    top: 70px;
    left: 30px;
}
ul.nav.nav-pills.nav-stacked.sidenav a.scroll{
    color: #656D78;
}
ul.nav.nav-pills.nav-stacked.sidenav a:hover.scroll{
    background-color: #CCD1D9;
}
ul.nav.nav-pills.nav-stacked.sidenav a.scroll.active{
    color: #F5F7FA;
    background-color: #434A54;
}